@model AutoRepair.Models.AutoPiecesViewModel

<div class="form-group">
    <label asp-for="AutoPieceName" class="control-label"></label>
    <input asp-for="AutoPieceName" class="form-control" />
    <span asp-validation-for="AutoPieceName" class="text-danger"></span>
</div>
