@model AutoRepair.Models.SpecialistTypeViewModel

<div class="form-group">
    <label asp-for="SpecialistTypeName" class="control-label"></label>
    <input asp-for="SpecialistTypeName" class="form-control" />
    <span asp-validation-for="SpecialistTypeName" class="text-danger"></span>
</div>